@import "~normalize.css/normalize.css";

.App 
{
  text-align: center;
  background-color: #d8bfd8;
}

/* :root, dark, and body styling inspired from https://codesandbox.io/s/dry-meadow-64786?from-embed=&file=/src/DarkMode.tsx */
/*decides background color of light. UCLA BLUE: #2774AE*/
:root 
{
  --font-color: #333;
  --background-color: #ded9fa;
  --link-color: cornflowerblue;
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: rgb(53, 53, 77);
  --link-color: lightblue;
}

body {
  background-color: var(--background-color) !important;
  color: black !important;
}

h1 {
  text-align: center;
  font-weight: bold !important;
  font-size: 40px !important;
  color: var(--font-color) !important;
}

#imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.imageWrapper {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 10px auto;
  padding: 15px 25px;
}

.imgWrapper {
  width: 200px;
  height: 200px;
}

/*img:hover {
  background-color: #e6e6fa; 
  text-decoration: none;
  cursor: pointer;
}*/

/*img:active {
  background-color: white;
  text-decoration: none;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e3d3e3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #87cefa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.expand:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}
