body {
  /*background: url("https://cdnassets.hw.net/cd/ef/6181bad64d2a98a4a7c83e621fcf/6292b20759bf43eabae20da959e9e1ef.jpg")
    no-repeat center center fixed;*/
    background: 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
