html {
  background: url("https://admission.ucla.edu/sites/default/files/slider-mid/01-campus-aerial.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
