.nav-bg
{
	display: flex;
	background-color: rgb(55, 50, 55);
	margin-bottom: 2rem;
}

li 
{
	display: inline-block;
	padding: 10px 20px;
	font-family: Century Gothic;
	font-size: 25px;
	font-weight: bold;
	margin: 10px;
	align-content: center;
	border-radius: 20px;
	padding: 15px; 
	width: auto;
	height: auto;  
}

li:hover 
{
	background-color: rgb(226, 217, 237);
	text-decoration: none;
}

li:active 
{
	background-color: rgb(195, 171, 225);
	text-decoration: none;
}

.Meal-Period
{
	display: inline-block;
	padding: 10px 20px;
	font-family: Century Gothic;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 10px 10px auto;
	align-content: center;
	border-radius: 20px;
	padding: 15px; 
	width: auto;
	height: auto; 	
}

.logo {
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
}
