[data-theme="dark"].title {
    --font-color: black;
    --background-color: rgb(53, 53, 77);
    --link-color: lightblue;
  }

.input-container
{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.review-field {
	width: 90%;
	margin: auto;
}

.title {
    text-align: center;
    font-family: Century Gothic;
	font-size: 25px;
	font-weight: bold;
}

.title-field {
    inline-size: 150px;
    overflow-wrap: break-word;
    height: auto;
    width: 90%;
    margin: auto;
}

.body-field {
    inline-size: 150px;
    overflow-wrap: break-word;
    height: 10rem;
    width: 90%;
    margin: auto;
}

.rating-field {
    inline-size: 150px;
    overflow-wrap: break-word;
    height: auto;
    width: 25rem;
    margin: auto auto 20px auto;
}

.review-button {
    width: 10rem;
    margin: auto;
    border-radius: 10px;
}
